<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.category %>!</h1>
    <p>
      Thanks for registering your interest in Wyld.live. You're just a catwalk away from completing the signup process.
    </p>

    <p>
      Please confirm your email by clicking the link below.
    </p>
    <a href="<%= confirm_email_user_url(@user.confirm_token) %>">Confirm your email by clicking this link.</a>


    <p>
      Not a <%= @user.category %>? Follow the link below to change your status.
    </p>
    <a href="<%= change_category_page_user_url(@user.confirm_token) %>">Change status by following this link.</a>

    <p>
      The Wyld Team
    </p>
    
  </body>
</html>