<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for registering a Sponsor account with WYLD</h1>
    <p>
      After confirming your email below, you'll be taken to a new page where you can enter details about your company and the kinds of shows you be interested in sponsoring in 2017. If you have any questions at any time, please feel free to contact the team@wyld.events.
    </p>

    <p>
      Please now confirm your email by clicking the link below.
    </p>
    <a href="<%= confirm_email_user_url(@user.confirm_token) %>">Confirm your email by clicking this link.</a>

    <p>
      The team at WYLD
    </p>
    
    <p>
      Not a Sponsor?
    </p>
    <a href="<%= change_category_page_user_url(@user.confirm_token) %>">Change your WYLD status by clicking this link.</a>

  </body>
</html>
