<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for registering a Streamer account with WYLD.</h1>
    <p>
      After confirming your email by clicking the link below, you'll be directed to a page where you can enter some details about your channel, location and the fashion you cover. If you have any questions, please feel free to contact the team@wyld.events.
    </p>

    <p>
      Please now confirm your email by clicking the link below.
    </p>
    <a href="<%= confirm_email_user_url(@user.confirm_token) %>">Confirm your email by clicking this link.</a>

    <p>
      The Team at WYLD
    </p>

    <p>
      Not a Channel Owner?
    </p>
    <a href="<%= change_category_page_user_url(@user.confirm_token) %>">Change your WYLD status by clicking this link.</a>
    
  </body>
</html>
