<%= form_for @user, :url => {:action => "resend"}, :html => { :class => "form-horizontal user" }, :remote => true do |f| %>

      <%= f.text_field :email, :class => 'form-control', :id => 'user_email_resend', :placeholder => 'Email' %>

      <%= f.submit 'Resend', :class => 'btn btn-warning' %>

  <% if @user.errors.any? %>
      <div class="error-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

<% end %>