




    <!--<header>-->
        <div class="fullscreen-bg">
            <video loop muted autoplay class="fullscreen-bg__video">
                <source src="12626384.mp4" type="video/mp4">
                <source src="12626384.webm" type="video/webm">
                <source src="12626384.ogv" type="video/ogg">
            </video>


            <div class="container">
                <div class="row">
                    <div class="col-sm-12 logo-box">
                        <img src="WYLD_LOGO.png" class="img-responsive" alt="">
                        <h2>Livestreaming vibrant fashion</h2>
                        <a href="#features" class="btn btn-outline btn-xl page-scroll">Sign up now!</a>
                    </div>
                </div>
            </div>
        </div>
    <!--</header>-->


    <section id="download" class="download bg-primary text-center">
        <div class="fullscreen-bg-info">
            <img src="Ninja.jpg" class="img-responsive" alt="">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <h2 class="section-heading">How WYLD can you get?</h2>

                    <h3 class ="aboutus-text">We transmit European fashion shows to international audiences live. We are based in Berlin.

                    Our online platform helps the creative individuals producing fashion shows connect with the new fans and sponsors keen to present their products to fashionable and funky new people.</h3>

                    <h3 class ="aboutus-text">By sponsoring a livestream, companies reach at least 2000 targeted connoisseurs of avante garde fashion while bloggers and web magazines and generate new advertising revenue by streaming live fashion to their audience of fashionistas.</h3>

                    <h3 class ="aboutus-text">Keen? Let's get <strong class="wyld-word-small">WYLD</strong>.</h3>


                </div>
            </div>
        </div>
    </section>











    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>I'm a</h2>
                        <hr>
                    </div>
                </div>
            </div>


                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 user-type-info-circle"></a>
                                <a href="/sponsor"></a>
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Sponsor</h3>
                                    <p class="text-muted">Looking to advertise my company or products or services.</p>
                                </div>
                            </div>
                            <div class="col-md-4 user-type-info-circle">
                                <a href="/host"></a>
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Fashion event host</h3>
                                    <p class="text-muted">Planning a fashion show and looking to have it streamed.</p>
                                </div>
                            </div>
                            <div class="col-md-4 user-type-info-circle">
                                <a href="/entrepreneur"></a>
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Video channel owner</h3>
                                    <p class="text-muted">Interested in streaming a show on my channel or v-log.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>Email</h3>
                                <%= render :partial => 'signup_page', :locals => {:@category => 'fashionista', :@checkbox_text => "I am a Fashionista and want to sign up to WYLD."}  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>



    <section id="contact" class="contact bg-contact">
        <div class="container">
            <h2>We <i class="fa fa-heart-o"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                  <li class="">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </section>


