




    <!--<header>-->
        <div class="fullscreen-bg">
            <video loop muted autoplay class="fullscreen-bg__video">
                <source src="catwalk_video.mp4" type="video/mp4">
                <source src="12626384.webm" type="video/webm">
                <source src="12626384.ogv" type="video/ogg">
            </video>
            <img class="video_replacement" src="video_replacement.jpg">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 logo-box">
                        <img src="WYLD_LOGO.png" class="img-responsive" alt="">
                        <h2>Livestreaming vibrant fashion</h2>
                        <a href="#features" class="btn btn-outline btn-xl page-scroll">Sign up now!</a>
                    </div>
                </div>
            </div>
        </div>
    <!--</header>-->


    <section id="download" class="download bg-primary text-center">
        <a href="/imprint" class="video-credits-landing">Video: ---</a>
        <div class="fullscreen-bg-info">
            <img src="Ninja.jpg" class="img-responsive" alt="">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <h2 class="section-heading">How WYLD can you get?</h2>

                    <h3 class ="aboutus-text">We transmit European fashion shows to international audiences live. We are based in Berlin. Our online platform helps those producing fashion shows connect with new fans and sponsors keen to present their products to fashionable and funky people.

                    </h3>

                    <h3 class ="aboutus-text">By sponsoring a livestream, companies reach a potential audience of at least 1500 targeted avant-garde fashion connoisseurs. Meanwhile bloggers and web magazines generate new advertising revenue by streaming live shows to their audience of fashionistas.</h3>

                    <h3 class ="aboutus-text">Keen? Let's get <strong class="wyld-word-small">WYLD</strong>.</h3>


                </div>
            </div>
        </div>
        <a href="/imprint" class="photo-credits-landing">Photo: Abtrusa</a>
    </section>











    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>I'm a</h2>
                        <hr>
                    </div>
                </div>
            </div>

 <div class="circles-area">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 user-type-info-circle"></a>
                                <a href="/sponsor"></a>
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Fashion show sponsor</h3>
                                    <p class="text-muted">Looking to advertise my company's products.</p>
                                </div>
                            </div>
                            <div class="col-md-4 user-type-info-circle">
                                <a href="/host"></a>
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Fashion event planner</h3>
                                    <p class="text-muted">Planning a fashion show and looking to have it streamed.</p>
                                </div>
                            </div>
                            <div class="col-md-4 user-type-info-circle third-circle">
                                <a href="/entrepreneur"></a>
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Video channel owner</h3>
                                    <p class="text-muted">Interested in streaming a show on my channel or v-log.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>Email</h3>
                                <%= render :partial => 'signup_page', :locals => {:@category => 'fashionista', :@checkbox_text => "I am a fashionista and want to be notified when WYLD starts streaming live fashion shows."}  %>
                            </div>
                        </div>
                    </div>
                </div>


    </section>



    <section id="contact" class="contact bg-contact">
        <div class="container">
            <!--<h2>We <i class="fa fa-heart-o"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                  <li class="">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </li>
            </ul>-->
        </div>
    </section>


