    <header class="confirmed_email_header_fashionista">
        <div class="fullscreen-bg-sponsor">
            <img src="dark_colors.jpg" class="img-responsive" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner confirmation-fashionista">

                              <h1>Your user category has been changed!</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>







