
    <header class="confirmed_email_header_fashionista">
        <div class="fullscreen-bg-sponsor">
            <img src="dark_colors.jpg" class="img-responsive" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner confirmation-fashionista">
                        	  <h1><% flash.each do |name, msg| %>
    							<%= content_tag :div, msg, class: "" %>
  								<% end %></h1>

                              <h2>Thank you for confirming your email address.</h2>

                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>







