
    <header class="confirmed_email_header">
        <div class="fullscreen-bg-sponsor">
            <img src="dark_runway_faded.jpg" class="img-responsive" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner confirmation-questionaire-header">

                              <h1>Thank you for confirming your email address.</h1>

                              <h4>In the very near future, we'll be contacting sponsors about collections and shows planned for 2017. The email will include a few questions related to your company and the demographic you'd like to reach based on your product or service. This info will help us find the best matching designers, show size and bloggers. You can put yourself ahead of the cue by filling out the form below now:</h4>

                              <h4>Note that a representative will be in touch with a more detailed "preferred demographic questionnaire" closer to the time of launch to ensure the closest possible sponsor/streamer/event match. Any questions? Get in touch. We are a friendly bunch and will address your queries asap. sponsors@wild.live</h4>

                              <h4>The Wyld Team</h4>

                                <%= render :partial => 'questionnaire_sponsor.html.erb', :locals => {}  %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>







