



        <div class="fullscreen-bg-sponsor">
            <img src="bag_ladies.jpg" class="img-responsive" alt="">
            <p href="" class="photo-credits">Rayand</p>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="header-content">
                            <div class="header-content-inner">
                                <h1>STREAMER SECTION</h1>
                                <h2 class="user-subtitle">Get WYLD on your channel</h2>
                                <a href="#features" class="btn btn-outline btn-xl page-scroll">Sign up now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="button">
                                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading user-type-heading">How WYLD can you get?</h2>




          <div class="info-dropdown-box">
                    <h3>Starting in 2017, sponsors on the WYLD platform receive curated sponsorship options for people interested in fashion shows. Here&#39;s how sponsorship works:</h3>

          </div>
<hr>
          <div class="info-dropdown-box">
  					<h3>Step One: Event organisers or collectives apply with the event&#39;s demographic and size:
                        <span class="show-more"> more</span> </h3>
  					<div class="hidden-info-box">
  						<h4>
                            - Proof the designers have a combined online following of at least 1000 people.
                            <br>
                            - Justified estimate of how many people they expect will watch the event on livestream
                            <br>
                            - Expected attendee amount at the event (must start at 250)
                            <br>
                            - Location, starting time a date, duration (must be at least three months ahead)
                            <br>
                            - Short description about the demographic they expect to watch the livestream and why.
                            This may include foreign shop owners, distributors, retailers and consumers
                        </h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>Step Two: We perform an in-house evaluation to verify the above.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>Information text goes here. blablsla balblabLBL BLA LBAvllavlavll  vavavlava.</h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>Step Three: We contact the most suitable network partner platform/s to host the stream (super simple to link).
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                If we feel everything checks out in step two, we reach out to the an online magazine,

                blogger or station in our network and beyond who might be interested in hosting the

                livestream on their youtube channel or site. 

                <div class="text-section-break"></div>
                This might be a local blogger, a national or

                internationally focused web-magazine, or a youtube channel focussed on cutting edge

                events. 

                <div class="text-section-break"></div>
                Where possible, they will commentate on site and interview designers during breaks.

                Where not possible, they will introduce and close the stream out as a host. In the future, we

                hope to allow remote commentating so that more than one blogger/website can host in other

                languages.
              </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>Step 4. Matching sponsors emailed two months ahead of livestream.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                Only when a hosting potential is confirmed do we announce the event to be livestreamed
                <br>
                and the broadcasting platform by emailing all those potential sponsors, based on their
                <br>
                preferred demographic (interest, age, gender and location) that the event is open for
                <br>
                sponsoring along with the packages open. Packages will be:
                <br>


                <div class="text-section-break"></div>
                <strong>2 x Corporate packages:</strong>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Company thanked during livestream intro and outro performed by WYLD host or

                - resident host at magazine, station or blogger;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Slogan text read by the WYLD host or resident host at magazine, station or blogger;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Ticker feed at bottom of screen - logo and slogan appears at least ten times during stream.</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Logo on "WYLD live transmission placard” featured prominently at entrance to event</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">2 free tickets to show</span>

                <div class="text-section-break"></div>
                <strong>1 x Major package:</strong>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Company thanked during livestream intro and outro performed by WYLD host or resident host at magazine, station or blogger, slogan text read by the sponsor,</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Logo overlayed at start at end of transmission</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Link to company site or microsite on page where screening happens</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Stand option for meeting and greeting at event</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Ticker feed at bottom of screen - logo and slogan appears at least ten times during

                stream.</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Logo on "WYLD live transmission” placard featured prominently at entrance to event</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">4 free tickets.</span>

                <div class="text-section-break"></div>

                <span class="bullet-point-text">The event is streamed, reaching new and existing customers for the creatives, hosts and

                sponsors.</span>
                <div class="text-section-break"></div>
                <span class="bullet-point-text">The streaming service is offered free to shows that successfully acquire a sponsor. We will

                provide a two man technician crew plus a host where appropriate, and ensure the stream

                flows uninterrupted (99% uptime) for the duration of the show. 
                <br>
                We have no fixed price for

                the packages. Simply send an email notifying us of the plan you would be interested in and

                your highest bid. This is a closed bid and after one week we will notify the winner/s.</span>
                <div class="text-section-break"></div>

                <strong>Here is how the sponsorship payment is split:</strong>
                <br>
                25% to Event organisers
                <br>
                75% to Wyld (production crew, administration service and blogger/web magazine payouts)
                <div class="text-section-break"></div>
                Note that depending on the video platform the blogger operates on, they may need to pay

                the platform a product placement fee. For example, Youtube may request a 45% product

                placement fee. The blogger deducts this from their allotment of the sponsorship fee award to

                them by Wyld.
              
                <div class="text-section-break"></div>
                <strong>The Bidding Process:
                <br>
                Note that we may automate this process in the future but for now, we are going to old fashion personal route of email:</strong>
                <br>
                Potential sponsors are first sent an email with demographic details of the event and any relevant links
                They then have 14 days to submit a bid
                At the end of the 14 days, we contact the sponsor with the highest and second highest bids
                They then have 7 days to make payment
                If after 14 days no bid is received, we open it to all potential sponsors for a subsequent 7 days to make a ‘second round’ bid
                At the end of these 7 days we contact the sponsor with the highest and second highest bids
                They then have 7 days to make payment.
                <br>
                <div class="text-section-break"></div>
                <strong>What happens in no bids are received after 21 days?</strong>
                <br>
                Our standard streaming services start at €1000 plus MwSt and free streaming is only offered to shows that successfully acquire a sponsor or sponsors who offer a combined bid more than this. If no bids are submitted, or the minimum amount is not reached after three weeks, we can offer to stream on alternative locations such as Facebook or your own channel at cost price €1000. 
                <div class="text-section-break"></div>
                Note that you can always bring your own streaming sponsor at a later date up to one week before the event. Here the streaming sponsorship fee is decided on a case by case basis. If you are successful and a wyld platform member is interested in sponsoring your event, we will inform you immediately they have transferred the funds, which will be no later than one month before the start.
            </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>Step five: The Event is streamed
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>In every case, we will provide a two man technician crew plus a host where appropriate, and ensure the stream flows uninterrupted (99% uptime) for the duration of the show. Within 14 days of your event’s conclusion and you have successfully been sponsored, you will receive 25% of the transferred sum (minus MwSt). This 25% amount also applies if you bring your own sponsor.
                <div class="text-section-break"></div>
              You may have heard that some video platforms charge a product placement fee. For example, Youtube may request a 45% of the sum paid to bloggers for placing or talking about a product during their vlog, or if they show a logo on their screen during the show. If this is the case, the blogger in question pays the video platform the product placement fee directly from their allotment of the sponsorship fee awarded to them by Wyld. In return, we ask that you have secured all live broadcast rights to any music that you may be playing during the show. We can assist you in this, so just get in touch.</h4>
            </div>
          </div>














                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Register Streamer account</h2>
                        <hr>
                    </div>
                </div>
            </div>


                <div class="col-md-12">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <%= render :partial => 'signup_page', :locals => {:@category => 'streamer', :@checkbox_text => "I am a Video channel owner and want to sign up to WYLD."}  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





    </section>



