



        <div class="fullscreen-bg-sponsor">
            <img src="sassy_2.jpg" class="img-responsive" alt="">
            <a href="/imprint" class="photo-credits">Photo: Micadew</a>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="header-content">
                            <div class="header-content-inner">
                                <h1>STREAMER SECTION</h1>
                                <h2 class="user-subtitle">Get WYLD on your channel</h2>
                                <a href="#features" class="btn btn-outline btn-xl page-scroll">Sign up now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="button">
                                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading user-type-heading">How WYLD can you get?</h2>




          <div class="info-dropdown-box">
                    <h3>Starting in 2017, you'll be able to stream and commentate small, medium and large fashion shows in your city directly from your channel and get paid to do it. Here&#39;s how it works:</h3>

          </div>
<hr>
          <div class="info-dropdown-box">
                    <h3>1) After registering with the WYLD platform, you fill out an online form that lets us know details about your follower count and your field of specialisation:
                        <span class="show-more"> more</span> </h3>
                    <div class="hidden-info-box">
                        <h4>
                            You should have already formed a following of at least 750 people to apply. You can be an indepedent blooger or part of a webzine or online fashion channel. The form will look at details like what kind of fashion you have a special interest in (if any) and be able to describe your viewers on a best guess basis. This will help us provide you with the kinds of shows you'd most likely be interested in commentating and streaming from your channel, blog or site. If everything looks good, we'll add you to our list of Official Streamers and contact you with the next steps as we prepare to go live.
                        </h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>2) We perform an in-house evaluation
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>Here we classify your channel into as a Rookie, Advanced or Major Streamer. This classification is based on your followship count, among other factors. The biggest fashion shows that have the strongest online viewship potential will be awarded to Streamers with the largest follower count, meaning you'll be able to commentate live at the shows that reflect your work building an audience. If you are just starting out but you've already carved a niche for yourself, you'll most likely be pair with shows held by up and coming labels and designers .
                                          </h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>3) We contact you with a suitable show.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                If we feel everything checks out in step two, we'll contact you before launch with further instructions. And yes, commentary done in languages other than English are planned for the future.
              </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>3) Matching sponsors are emailed two months ahead of livestream.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                Only when an event planner and Streamer have committed to livestreaming a fashion show do we notify our network of potential sponsors that a show is coming up to be livestreamed. We notify potential sponsors with curated details about your audience and the audience of the fashion show itself, aiming for a good match all round. Two kinds of livestreaming sponsorship packages will be available, Corporate and Main, to be made available to the highest bidder. A portion of the sponsorship amount is then allocated to you after the successful livestreaming of a show, which you will also be invited to commentate at live. This tiered payment amount is based on your followship count and subsequently the show you stream. Full details of this payment structure will be made to successful applicants closer to launch date.
            </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>4) The Event is streamed
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>We provide a two man crew at the show and set you up to commentate at the event live. You can also interview designers if they have time before or after the event. If you broadcast on a platform like Youtube that requires a share of any product placement fees received, you will need to notify the channel that you are being sponsored for the stream and on-camera work. Note that we only work with event organisers who have secured the online streaming rights to any music played at the show, so you don't need to worry about infringing  anyone's IP on that front.</h4>
            </div>
          </div>














                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Register Streamer account</h2>
                        <hr>
                    </div>
                </div>
            </div>


                <div class="col-md-12">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <%= render :partial => 'signup_page', :locals => {:@category => 'streamer', :@checkbox_text => "I am a Video channel owner and want to sign up to WYLD."}  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





    </section>



