



        <div class="fullscreen-bg-sponsor">
            <img src="sassy_2.jpg" class="img-responsive" alt="">
            <a href="/imprint" class="photo-credits">Photo: Micadew</a>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="header-content">
                            <div class="header-content-inner">
                                <h1>STREAMER SECTION</h1>
                                <h2 class="user-subtitle">Get WYLD on your channel</h2>
                                <a href="#features" class="btn btn-outline btn-xl page-scroll">Sign up now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="button">
                                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading user-type-heading">How WYLD can you get?</h2>




          <div class="info-dropdown-box">
                    <h3>Starting in 2017, you'll be able to stream and commentate small, medium and large fashion shows held in your city directly from your channel and get paid to do it as a WYLD Streamer. Here&#39;s how it works:</h3>

          </div>
<hr>
          <div class="info-dropdown-box">
                    <h3>1) After registering with the WYLD platform, you be sent a few questions that will help us understand more about your channel and followers.
                        <span class="show-more"> more</span> </h3>
                    <div class="hidden-info-box">
                        <h4>
                            You should have already formed a following of at least 750 people to register with WYLD. You can be a v-logger, a host of a webzine or run an online fashion channel. After signing up, you'll be sent a link where you can enter details about the kind of fashion you cover. The info you provide will help us connect you to the kind of shows you'd most likely be interested in commentating and streaming from your channel, blog or site. If accepted into our pool of 'Streamers', you'll be invited to commentate live at the events we stream through your channel. 
                        </h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>2) We perform an in-house evaluation.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>During the evaluation, we classify your channel as a Débutante, Independent or Major Streamer. This classification is based on your follower amount, among other factors. The biggest fashion shows that have the strongest online viewership potential will be awarded to Streamers with the largest follower count, meaning you'll be able to commentate live at the shows that reflect your work building a community. If you are just starting out but you've already carved a niche for yourself, you'll most likely be paired with shows held by up-and-coming labels and designers.
                                          </h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>3) We contact you with a suitable show.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                If we feel everything checks out in step two, we'll contact you three months before a suitable show with further details. Note that commentary should be given in your own language or English, and that we plan to begin livestreaming in 2017.
              </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>4) Matching sponsors are emailed two months ahead of livestream.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                Only when an event Planner and you as a Streamer have committed to livestreaming a fashion show do we notify our network of potential Sponsors that a show is coming up to be livestreamed. We notify potential Sponsors with curated details about your audience and the audience of the fashion show itself, aiming for a good match all round. Two kinds of livestreaming sponsorship packages will be available, Corporate and Main, to be made available to the highest bidding Sponsor. A portion of the sponsorship amount is then allocated to you after the successful livestreaming of a show. This tiered payment amount is based on your follower count and subsequently the show you stream. Full details of this payment structure will be made to successful applicants closer to our launch date.
            </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>5) The fashion show is streamed.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>We provide a local crew at the show to help set you up so that you can commentate the event live. You can also interview designers if they have time before or after the event. If you broadcast on a platform like Youtube that requires a share of any product placement fees received, you will need to notify the channel that you are being sponsored for the stream and on-camera work. Note that we only work with event organisers who have secured the online streaming rights to any music played at the show, so you don't need to worry about infringing anyone's IP.</h4>
            </div>
          </div>





                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Register Streamer account</h2>
                        <hr>
                    </div>
                </div>
            </div>


                <div class="col-md-12">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <%= render :partial => 'signup_page', :locals => {:@category => 'streamer', :@checkbox_text => "I am a Video channel owner and want to sign up to WYLD."}  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





    </section>



