



        <div class="fullscreen-bg-sponsor">
            <img src="Lady_in_Red.jpg" class="img-responsive" alt="">
                <a href="/imprint" class="photo-credits">Photo: Jason Hargrove</a>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="header-content">
                            <div class="header-content-inner">
                                <h1>EVENT PLANNER SECTION</h1>
                                <h2 class="user-subtitle">Livestream your next show</h2>
                                <a href="#features" class="btn btn-outline btn-xl page-scroll">Sign up now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="button">
                                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading user-type-heading">How WYLD can you get?</h2>




           <div class="info-dropdown-box">
                    <h3>If you are part of a group of designers or are acting on their behalf to organise an upcoming show, you can use our platform to connect with both potential Sponsors as well as multipliers in the form of bloggers, fashion-related web-magazines, youtube channels and other online personalities with their own channel whom we call 'Streamers'. Here is how sponsorship will work from 2017:</h3>

          </div>
<hr>
          <div class="info-dropdown-box">
                    <h3>1) Event organisers or collectives apply with their event&#39;s demographic and size.
                        <span class="show-more"> more</span> </h3>
                    <div class="hidden-info-box">
                        <h4>
                            The application includes details such as:
                            <br>
                            - How many viewers you expect will watch the event locally and remotely via livestream
                            <br>
                            - Location, starting time/date (must be at least three months ahead) and expected duration 
                            <br>
                            - Description about the demographic you expect to watch the livestream and why. This may include specific details about foreign shop owners, distributors, retailers and consumer types
                            <br>
                            - If you are holding your own show or as part of a larger collective.
                        </h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>2) We perform an in-house evaluation.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                             The in-house evaluation examines:
                             <br>
                            <div class="text-section-break-small"></div>
                              - You or your collective's combined social media follower count from the various major platforms
                               <br>
                              - How long you have been on the market. If you are just starting out, we suggest you co-organise your event with other designers as a collective show
                               <br>
                              - Other factors that will help us connect your show with the best-suited Streamer.
                               <br>
                            <div class="text-section-break-small"></div>
                               This info helps classify your show into 'Débutante', 'Independent' or 'Major'. We then contact a Streamer with a similar amount of followers as yours or your collectives with the goal of at least doubling the total viewership for the event. For example, a fashion college's year-end show would be streamed and in most cases commentated by a Streamer with around 1000 followers. A larger collective or a more established designer's show with a combined following of 5000 would be hosted (and commentated) by a Streamer who also has around 5000 followers.  The classification system means small, medium and large Sponsors can find the ideal show to back.
              </h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>3) We contact the most suitable Streamer to host and commentate the livestream.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                If we feel everything checks out in step two, we reach out to the most-suitable Streamer in our network and beyond who might be interested in broadcasting the livestream of your show on their youtube channel or site. Initially they will be invited to commentate at the show and conduct live interviews there too. In the future, we plan to include remote commentating for larger shows so that more than one Streamer can commentate in other languages.
              </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>4) Matching sponsors are emailed two months ahead of livestream.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                Only when a Streamer is confirmed do we announce the event to be livestreamed to our network of potential Sponsors. Here we curate the prefered demographic and audience size details you supply us, and send them to potential Sponsors so that your show and audience overlaps with the people your Sponsors hope to reach. Only two sponsorship packages will be available, Corporate and Main, to keep things exclusive. Packages are available on a highest bid basis.
                <br>


                <div class="text-section-break"></div>
                <strong>Benefits for Corporate Sponsor package holders:</strong>
                <div class="text-section-break"></div>

                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Company thanked during livestream by Streamer;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Slogan text read by Streamer;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Ticker feed at bottom of screen;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Logo on WYLD placard featured prominently at entrance to fashion show;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Free tickets to show.</span>

                <div class="text-section-break"></div>
                <strong>Exclusive benefits for Main Sponsor package holders in addition to the above:</strong>
                <div class="text-section-break"></div>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Logo overlayed at start and end of transmission;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Link to company site or microsite on Streamer page;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Stand option for meeting and greeting at event.</span>
                <br>
              
                <div class="text-section-break"></div>

                Sponsorship payment is split following the event, with 25% going to you as event Planners and 75% to the WYLD platform, a portion of which is paid to your Streamer based on their follower count. Event Planners may also bring their own sponsors up to one week before the event. Here the streaming sponsorship fee will be decided on a case by case basis.</span>
                <div class="text-section-break"></div>
            
            </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>5) The fashion show is streamed.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>We provide a local livestreaming production crew at the show to ensure Streamers can successfully broadcast and commentate at the event live. Where possible, Streamers may interview designers if the designers have time before or after the event. The show is then streamed to the Streamer's audience of fashionistas. Note that we can only work with fashion show Planners who have secured the online streaming rights to any music played at the show.</h4>
            </div>
          </div>




                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Register Event Planner account</h2>
                        <hr>
                    </div>
                </div>
            </div>


                <div class="col-md-12">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <%= render :partial => 'signup_page', :locals => {:@category => 'host', :@checkbox_text => "I am planning a fashion show in 2017 and would like to submit my show for when WYLD goes live."}  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





    </section>



