


        <div class="fullscreen-bg-sponsor">
            <img src="dark_runway_faded.jpg" class="img-responsive" alt="">
            <a href="/imprint" class="photo-credits">Photo: Liton Ali</a>
            <div class="container" id="download"> 
                <div class="row">
                    <div class="col-sm-7">
                        <div class="header-content" id="features">
                            <div class="header-content-inner">
                                <h1 style="margin-bottom: 20px;">IMPRINT</h1>

                                <h3>Wyld.events is a digital media concept being developed by</h3>

                                <h4 style="color: #fff;">Wivern Digital Limited</h4>
                                <h4 style="color: #fff;">Postfach 212137</h4>
                                <h4 style="color: #fff;">Berlin, 10554</h4>

                                <h4 style="color: #fff;">represented by Jerome Goerke</h4>
                                <h4 style="color: #fff;">enquiries(at)wiverndigital.com</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="button">
                                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading user-type-heading">Full photo credits</h2>

                <h3>Sponsor section page</h3>
                <h4>Image name: 193150_670540830670_202907488_38769237_1012112_o</h4>
                <h4>Altered image by removing photographer signature from photo. Lowered brightness. </h4>
                <a href="https://www.flickr.com/photos/colorescentious/5543155746/" class="photo-credits-imprint-page">Photo by: Josh Blacker</a>
                <a href="https://creativecommons.org/Licenses/by/2.0/" class="photo-credits-imprint-page">License</a>


                <h3>Event planner section page</h3>
                <h4>Image name: Pascale Hutton wearing Paul Hardy - Heart and Stroke Foundation - The Heart Truth celebrity fashion show - Red Dress - Red Gown - Thursday February 8, 2012 - Creative Commons</h4>
                <h4>Altered image by lowering brightness</h4>
                <a href="https://www.flickr.com/photos/salty_soul/6821519494/" class="photo-credits-imprint-page">Photo by: Jason Hargrove</a>
                <a href="https://creativecommons.org/Licenses/by/2.0/" class="photo-credits-imprint-page">License</a>


                <h3>Streamer section page</h3>
                <h4>Image name: Sassy...</h4>
                <h4>Altered image by lowering brightness</h4>
                <a href="https://www.flickr.com/photos/micadew/16737730055/in/album-72157648680175663/" class="photo-credits-imprint-page">Photo by: Micadew</a>
                <a href="https://creativecommons.org/licenses/by-sa/2.0/" class="photo-credits-imprint-page">License</a>


                <h3>Confirmation pages</h3>
                <h4>Image name: Atmospheric catwalk shot</h4>
                <h4>Altered image by fading bottom to black.</h4>
                <a href="https://www.flickr.com/photos/canvasmag/4363770166/in/photolist-7DBsQE-BY5jLu-BY5jso-BrSh5z-B3St91-5TTRwv-B3SscG-Byfxwh-BY5jnJ-BY5iYC-BY5iNN-BrSiPB-demDms-dorgHm-5a67dn-gnDF2b-muEe-g6eUJs-bvGKZL-B3SrTA-qRuyL5-9kUF8h-g6fstX-oLA88r-5asxeu-9kUFhC-qvVFa5-dVaw3j-992emD-rg1N93-g6eCen-dF3mNW-9ki4v6-BrShUa-ByfxGN-B3Y8fR-B3SsVq-BQMCLj-BQMEb3-ByfxaW-BrSiTK-C1o8rX-BT6Eot-B3Y8Xn-BrSiDr-Byfyuu-BQMC6S-B3StLy-BY5kjy-BrShpc
" class="photo-credits-imprint-page">Photo by: Liton Ali</a>
                <a href="https://creativecommons.org/Licenses/by/2.0/" class="photo-credits-imprint-page">License</a>


                <h3>Landing page</h3>
                <h4>Image name: Catwalk</h4>
                <h4>Altered image by removing photographer signature from photo. Lowered brightness.</h4>
                <a href="https://www.flickr.com/photos/abstrusa/27227235424/" class="photo-credits-imprint-page">Photo by: Abstrusa</a>
                <a href="https://creativecommons.org/Licenses/by-nd/2.0/" class="photo-credits-imprint-page">License</a>

                </div>
            </div>
        </div>
    </section>


















    </section>
