


        <div class="fullscreen-bg-sponsor">
            <img src="model_geisha.jpg" class="img-responsive" alt="">
            <div class="container" id="download"> 
                <div class="row">
                    <div class="col-sm-7">
                        <div class="header-content" id="features">
                            <div class="header-content-inner">
                                <h1 style="margin-bottom: 20px;">IMPRINT</h1>

                                <h3>Wyld.live is a digital media concept being developed by</h3>

                                <h4 style="color: #fff;">Wivern Digital Limited</h4>
                                <h4 style="color: #fff;">Postfach 212137</p>
                                <h4 style="color: #fff;">Berlin, 10554</p>

                                <h4 style="color: #fff;">represented by Jerome Goerke</h4>
                                <h4 style="color: #fff;">enquiries(at)wiverndigital.com</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="button">
                                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>