        <div class="fullscreen-bg">
            <video loop muted autoplay class="fullscreen-bg__video">
                <source src="12626384.mp4" type="video/mp4">
                <source src="12626384.webm" type="video/webm">
                <source src="12626384.ogv" type="video/ogg">
            </video>


            <div class="container">
                <div class="row">
                    <div class="col-sm-12 logo-box">
                        <h2>Resend confirmation email</h2>
                        <%= render :partial => 'form_resend_confirmation_email', :locals => {:@user => User.new}  %>
                    </div>
                </div>
            </div>
        </div>





    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">

                    </div>
                </div>
            </div>


                <div class="col-md-12">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>





    </section>

