



        <div class="fullscreen-bg-sponsor">
            <img src="Geisha.jpg" class="img-responsive" alt="">
            <a href="/imprint" class="photo-credits">Photo: Josh Blacker</a>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="header-content">
                            <div class="header-content-inner">
                                <h1>SPONSOR SECTION</h1>
                                <h2 class="user-subtitle">Sponsor livestreamed fashion</h2>
                                <a href="#features" class="btn btn-outline btn-xl page-scroll">Sign up now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="button">
                                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading user-type-heading">How WYLD can you get?</h2>




          <div class="info-dropdown-box">
                    <h3>Starting in 2017, sponsors on the WYLD platform receive curated sponsorship options to reach designers, fashionistas, clothing chains, distributors and suppliers watching our livestreamed shows to be the first to see the latest fashions from locations around the world. Here&#39;s how sponsorship works:</h3>

          </div>
<hr>
          <div class="info-dropdown-box">
                    <h3>1) Event organisers or collectives apply with their event&#39;s demographic and size:
                        <span class="show-more"> more</span> </h3>
                    <div class="hidden-info-box">
                        <h4>
                            The application includes details such as:
                            <br>
                             - How many viewers the applicant expects will watch the event locally and remotely via livestream
                            <br>
                            - Location, starting time and date, duration (must be at least three months ahead)
                            <br>
                            - Description about the demographic they expect to watch the livestream and why. This may include specific details about foreign shop owners, distributors, retailers and consumers.
                        </h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>2) We perform an in-house evaluation.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                             The in-house evaluation examines:
                             <div class="text-section-break-small"></div>
                             <br>
                              - social media followship from the various major platforms
                               <br>
                              - time in business
                               <br>
                              - other factors that will help us tie the applicant with the best 'Streamer', who is usually a blogger or webzine host with their own channel.
                               <br>
                               <div class="text-section-break-small"></div>
                               This info helps classify us the applicant's show into 'Rookie', 'Independent' or 'Major'. We then contact a Streamer with a similar amount of followers with the goal of at least doubling the total viewership for the event. For example, a student graduate show would be streamed and in most cases commentated by a rookie Streamer of around 1000 followers. A collective or a more established designer's show with a combined following of 5000 will be hosted (and ideally commentated) by an independent Streamer who also has around 5000 followers.  The classification system means small, medium and large firms can find the ideal show to sponsor.
                              -  </h4>
            </div>
          </div>



          <div class="info-dropdown-box">
            <h3>3) We contact the most suitable channel to host and commentate the livestream.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                If we feel everything checks out in step two, we reach out to the an online magazine, blogger or station in our network and beyond who might be interested in hosting the livestream on their youtube channel or site. Initially they will commentate at the show and conduct interviews. In the future, we plan to include remote commentating for larger shows so that more than one blogger/website can host in other languages.
              </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>4) Matching sponsors are emailed two months ahead of livestream.
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>
                Only when a Streamer is confirmed do we announce the event to be livestreamed. Here we use the prefered demographic and audience size  details supplied to us by sponsors to link upcoming shows with the right sponsor. Only two sponsorship packages will be available, Corporate and Main. Packages are available on a highest bid basis, with the Corporate Package to include:
                <br>


                <div class="text-section-break"></div>

                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Company thanked during livestream by Streamer;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Slogan text read by Streamer;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Ticker feed at bottom of screen;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Logo on "WYLD placard” featured prominently at entrance to the fashion show;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Free tickets to show.</span>

                <div class="text-section-break"></div>
                <strong>Exclusive benefits for Main sponsors:</strong>
                <div class="text-section-break"></div>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Logo overlayed at start and end of transmission;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Link to company site or microsite on Streamer page;</span>
                <br>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> <span class="bullet-point-text">Stand option for meeting and greeting at the fashion show.</span>
                <br>
              
                <div class="text-section-break"></div>

                <span class="bullet-point-text">Sponsorship payment is split following the shpw, with 25% going to the event planners and 75% to the WYLD platform, a portion of which is paid to the show's Streamer based on their followship amount. Event planners may also bring their own sponsors up to one week before the event. Here the livestreaming sponsorship fee is usually reduced and decided on a case by case basis.</span>
                <div class="text-section-break"></div>
            
            </h4>
            </div>
          </div>




          <div class="info-dropdown-box">
            <h3>5) The event is streamed
                <span class="show-more"> more</span> </h3>
            </h3>
            <div class="hidden-info-box">
              <h4>WYLD provides a small crew on site to ensure the stream flows smoothly throughout the show that will be commentated live by a Streamer. Archives of the show will be available on a pay-per-view basis.
</h4>
            </div>
          </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Register Sponsor account</h2>
                        <hr>
                    </div>
                </div>
            </div>

 
                <div class="col-md-12">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <%= render :partial => 'signup_page', :locals => {:@category => 'sponsor', :@checkbox_text => "I am a potential Sponsor and would like to be notified of upcoming shows before WYLD goes live."}  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





    </section>



