<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Hello<%= @recipient.name %>
    </p>

    <p>
      We'd like to personally invite you to check out WYLD, a new platform that connects designers planning or would like to host fashion shows with bloggers and sponsors:
    </p>

    <a href="http://www.wyld.events">wyld.events</a>

    <p>
      From 2017, we plan to livestream fashion shows held by innovative labels like yours via the Youtube channels of fashion bloggers, who will broadcast and commentate at the event for their online followers. We will personally invite companies to sponsor the event and then share their sponsorship revenue with show planners and bloggers.
    </p>

    <p>
      If you like what we're proposing, we'd like to ask you register an Event Planner account through our beta <a href="http://www.wyld.events/host">site</a> that we can determine demand for our service. Naturally, you can email us too with any questions you might have.
    </p>

    <p>
      ABOUT US
    </p>

    <p>
      We are a startup team of fashion lovers based in Berlin looking to connect the works of designers with new audiences and fans by using livestreaming. We hope to introduce bloggers and their followers to new fashion ideas from around the world, and allow sponsors to reach this exclusive pool of avant-garde fashionistas.
    </p>

    <p>
      The WYLD Team
    </p>

    <p>
      WYLD is a digital media concept being developed by 
    </p>

    <p>
      Wivern Digital Limited 
      Postfach 212137
      Berlin, 10554
      team@wyld.events
    </p>

    <p>
      UK VAT Number: 112 325 858 
      DE MwSt Number: 300 755 423
    </p>

  </body>
</html>
