<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
      We'd like to personally invite you to check out our new WYLD platform designed to connect fashion bloggers like you with sponsors and designers planning fashion shows: wyld.events
    </p>

    <a href="http://www.wyld.events">wyld.events</a>

    <p>
      From 2017, we plan to livestream fashion shows through selected fashion bloggers channels and websites. Participating bloggers will also be invited to commentate at the fashion events for their online followers. We will personally invite companies to sponsor the fashion livestream and share the streaming sponsorship revenue with show planners and bloggers.
    </p>

    <p>
      We'd like to ask you register through our beta <a href="http://www.wyld.events/entrepreneur">site</a> if you'd consider livestreaming through the WYLD platform next year - and be financially rewarded for doing so. Naturally, you can email the team@wyld.events with any questions too.
    </p>

    <p>
      ABOUT US
    </p>

    <p>
      We are a startup team of fashion lovers based in Berlin looking to connect the works of designers with new audiences and fans by using livestreaming. We hope to introduce bloggers and their followers to new fashion ideas from around the world, and allow sponsors to reach this exclusive pool of avant-garde fashionistas.
    </p>

    <p>
      The WYLD Team
    </p>

    <p>
      WYLD is a digital media concept being developed by 
    </p>

    <p>
      Wivern Digital Limited 
      Postfach 212137
      Berlin, 10554
      team@wyld.events
    </p>

    <p>
      UK VAT Number: 112 325 858 
      DE MwSt Number: 300 755 423
    </p>

  </body>
</html>
