/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */

  .photo-credits { /* Mostly for the form on change_category_page */
    opacity: 0.7;
    text-align: right;
  }

  a { /* Mostly for the form on change_category_page */
    font-family: 'Josefin Sans', sans-serif;
  }

  .link_to_resend_confirmation_page { /* Mostly for the form on change_category_page */
    color: #ffbea4 !important;
    margin-bottom: -100px;
  }

  .confirmed_email_header_fashionista { /* Mostly for the form on change_category_page */
    background: #000;
  }

 .confirmation-fashionista { /* Mostly for the form on change_category_page */
    top: -100px !important;
  }

  .confirmed_email_header { /* Mostly for the form on change_category_page */
    background: #000;
    height: 2200px;
  }

 .confirmation-questionaire-header { /* Mostly for the form on change_category_page */
    top: 50% !important;
  }

 .form-followers { /* Mostly for the form on change_category_page */
    width: 280px;
  }

 .questionnaire-form input { /* Mostly for the form on change_category_page */
   margin-top: 20px !important;
  }

 .form-horizontal-resend input { /* Mostly for the form on change_category_page */
  border-radius: 20px;
  width: 250px;
  display: inline-block;
  }

.form-horizontal-resend  { /* Mostly for the form on change_category_page */
  margin: auto;
  width: 450px;
  padding: 10px;
  margin-top: 5%;
  height: 100%;
}


.form-horizontal-for-admin { /* Mostly for the form on change_category_page */
  margin: auto;
  width: 450px;
  padding: 10px;
  margin-top: 5%;
  height: 100%;
}

.form-horizontal-change-category { /* Mostly for the form on change_category_page */
  margin: auto;
  width: 260px;
  padding: 10px;
  margin-top: 20%;
  height: 100%;
}

ul {
  list-style-type: none;
  color: #fff;
}

.horizontal-list {
  margin-left: -3em;
}

.horizontal-list li {
  display: inline-block;
}

.bullet-point-text {
    display: block;
    margin-top: -44px;
    margin-left: 63px;
    margin-bottom: 4px;
    line-height: 40px;
}


.fa-check {
  margin-right: 10px;
}

.page-scroll-wyld {
  cursor: pointer;
}

/* To make round buttons */

.btn-warning {
  background: linear-gradient(to top, #ff9000, #ffd800);
  color: white !important;
  border: none;
}

.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
.btn-outline {
  background: linear-gradient(to top, #ff9000, #ffd800);
  color: white !important;
  border: none;
  /* border-color: white;
  border: 1px solid;*/
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background: linear-gradient(to top, #e98300, #e7c400);
  /* border-color: #fdcc52; */
}
/* End of comment - To make round buttons */


.fa-heart-o {
  color: #ffc600 !important;
}

.fullscreen-bg {
  background-color: #000;
}

.fullscreen-bg-info {
  background-color: black;
  position: absolute;
  width: 100%;
}

.fullscreen-bg-info img {
  width: 70%;
}

.fullscreen-bg-sponsor {
  background: black;
  overflow: hidden;
}

.fullscreen-bg-sponsor img {
  position: relative;
  width: 100%;
}

.header-content-inner h1 {
  color: gold;
  font-weight:300;
  font-family: 'Josefin Sans', sans-serif;
}

.user-subtitle {
  margin-top: -6px; 
  margin-bottom: 20px
}

.header-content {
  margin-top: -80%;
}

.fullscreen-bg__video {
  width: 100%;
}

.user-type-info-circle {
  background-color: #fff;
  width: 300px;
  height: 300px;
  background: #fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 150px;
  margin: 35px;
  padding: 50px;
  cursor: pointer;
  color: rgb(92, 92, 92);
} 

.user-type-info-circle h3{
  color: rgb(92, 92, 92);
} 


.user-type-info-circle p {
  color: rgb(92, 92, 92);
  font-family: 'Josefin Sans', sans-serif;
} 


.info-dropdown-box {
  text-align: left;
  margin-top: 0px;
}

.hidden-info-box {
  display: none;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 100px;
  color: gold;
}


#user_email {
  width: 250px;
}


h1 {
  font-family: didot;
}

h2 {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

h3 {
  margin-top: 37px;
  color: #fff;
  letter-spacing: 2px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

.wyld-word {
  font-family: 'Monoton', cursive;
  font-weight: normal;
  font-size: 72px;
  background: -webkit-linear-gradient(#dc2430, #7b4397);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wyld-word-small {
  font-family: 'Monoton', cursive;
  font-weight: normal;
  font-size: 20px;
}

.logo-box {
  margin-top: -40%;
  display: block;
  text-align: center;
  color: #fff;
  opacity: 0.95;
}

.logo-box img{
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
font-family: 'Monoton', cursive !important;
    font-weight: normal;
    font-size: 25px;
    color: #fff;
    opacity: 0.5;
}

a {
  text-decoration: none !important;
  font-family: 'Josefin Sans', sans-serif;
}

a:hover {
  background: transparent;
  color: #fff !important;
}

.info-dropdown-box h4 {
  line-height: 1.1;;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: 'Josefin Sans', sans-serif !important;
  color: rgb(255, 233, 174);
}

.text-section-break {
  margin-top: 50px;
}

.aboutus-text {
  text-align: left;
  margin-left: 50px;
  font-size: 19px;
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif !important;
}


.features {
  /* background: linear-gradient(to top, #dc2430, #7b4397); */
  background: linear-gradient(to top, #ff6c00, gold);
  min-height: 70%;
  height: 100%;
}

.features .container {
  margin-top: -50px;
}


.text-muted {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

footer {
  background-color: #ff6c00;
}


section.features .section-heading {
    margin-bottom: 25px;
    margin-top: 75px;
}

.user-type-heading {
  white-space: nowrap;
  margin-bottom: 70px
}


.form-control {
  display: inline-block;
  border-radius: 20px;
}

.field_with_errors {
  display: inline-block; /* overwrites when errors appear to form; */
  background-color: transparent; /* overwrites when errors appear to form; */
  padding: 0px; /* overwrites when errors appear to form; */
}

.error-body {
  margin-top: 15px;
  display: none; /* fades in with create.js */
  margin-left: -3em;
  position: absolute; /* prevent pushing down section below error-body */
  width: 100%; /* centering text after applying position: absolute; */
}

.error-body ul {
  color: rgb(167, 3, 11);
}


.bg-contact {
  background-color: #ff6c00;
}

.show-more {
  color: rgb(255, 233, 174);
  cursor: pointer;
}


@media screen and (max-width: 991px) and (max-width: 769px) {

  .fullscreen-bg-info img {
    width: 100%;
    filter: brightness(45%);
  }
}

@media screen and (max-width: 768px) {

  .fullscreen-bg__video {
    width: 200%;
  }

  .fullscreen-bg {
   overflow: hidden;
  }



  .logo-box {
    margin-top: -70%;
  }

  .logo-box h2 {
    font-size: 18px;
  }

}


@media screen and (min-width: 991px) {

  .btn-warning {
      margin-top: -5px !important;
  } 
}

@media screen and (max-width: 991px) and (min-width: 768px) {

  .error-body {
    margin-left: -2em !important; /* changed from 3 to 2 in mobile format */
    position: relative !important; /* changed from absolute to relative in mobile format */
  }

  .user-type-info-circle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  } 

  .btn-warning {
      margin-top: 10px !important;
  } 
}


@media screen and (max-width: 768px) and (min-width: 480px) {

  .error-body {
    margin-left: -2em !important; /* changed from 3 to 2 in mobile format */
    position: relative !important; /* changed from absolute to relative in mobile format */
  }

  .user-type-info-circle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  } 

  .btn-warning {
      margin-top: 10px !important;
  } 

  .aboutus-text {
    margin-left: 25px;
  } 

  .header-content {
    margin-top: -50%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

  .error-body {
    margin-left: -2em !important; /* changed from 3 to 2 in mobile format */
    position: relative !important; /* changed from absolute to relative in mobile format */
  }

  .user-type-info-circle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 260px;
    height: 260px;
    padding: 30px;
  } 

  .btn-warning {
      margin-top: 10px !important;
  } 

  .aboutus-text {
    margin-left: 25px;
  } 

  .header-content {
    margin-top: -90%;
  }

  .fullscreen-bg-sponsor {
    overflow: hidden;
  } 

.fullscreen-bg-sponsor img {
    width: 200%;
    max-width: 200%;
  } 
}